<table id="stats">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Frequency <br><small>start to start</small></th>
      <th>Duration <br><small>start to end</small></th>
    </tr>
    <tbody>
      <tr class="recent">
        <td>Most Recent</td>
        <td>{{lastFrequency}}</td>
        <td>{{lastDuration}}</td>
      </tr>
      <tr class="lastHour">
        <td>Last Hour Average</td>
        <td>{{lastHourFrequency}}</td>
        <td>{{lastHourDuration}}</td>
      </tr>
      <tr class="average">
        <td>Average</td>
        <td>{{averageFrequency}}</td>
        <td>{{averageDuration}}</td>
      </tr>
    </tbody>
  </thead>
</table>
